{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Lift Élévateur</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static "img/favicon.png" %} rel="icon">
  <link href={% static "img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static "vendor/aos/aos.css" %} rel="stylesheet">
  <link href={% static "vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
  <link href={% static "vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
  <link href={% static "vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
  <link href={% static "vendor/glightbox/css/glightbox.min.css" %} rel="stylesheet">
  <link href={% static "vendor/swiper/swiper-bundle.min.css" %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static "css/style.css" %} rel="stylesheet">

  <!-- =======================================================
  * Template Name: Reveal
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>



  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:jeremyscholliers01@gmail.com">jeremyscholliers01@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span><a href="tel:+32493938010">+32 493 938 010</a></span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar-->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="/">Lift<span>Élévateur</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src={% static "img/logo.png" %} alt=""></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
          <li><a class="nav-link scrollto" href="#about">Qui sommes-nous ?</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Zone d'interventions</a></li>
          <li class="dropdown"><a href="#"><span>Location lift</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              {% for commune in communes %}
              <li><a href="/{{ commune.id }}">Location Lift {{ commune.lib_comm }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {% block content %}
  
  {% endblock content %}


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Lift-Élévateur</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src={% static "vendor/aos/aos.js" %}></script>
  <script src={% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "vendor/glightbox/js/glightbox.min.js" %}></script>
  <script src={% static "vendor/isotope-layout/isotope.pkgd.min.js" %}></script>
  <script src={% static "vendor/swiper/swiper-bundle.min.js" %}></script>
  <script src={% static "vendor/php-email-form/validate.js" %}></script>

  <!-- Template Main JS File -->
  <script src={% static "js/main.js" %}></script>

</html>