{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
  <!-- ======= hero Section ======= -->
  <section id="hero">

    <div class="hero-content" data-aos="fade-up">
      {% if commune_actif.lib_comm %}
      <h2>Location Lift <span>{{ commune_actif.lib_comm }}</span><br> et ses environs !</h2>
      {% elif city_actif.lib_city %}
      <h2>Location Lift <span>{{ city_actif.lib_city }}</span><br> et ses environs !</h2>
      {% else %}
      <h2>Location Lift <span></span><br> Partout à Bruxelles</h2>
      {% endif %}
      
      <div>
        <a class="btn-get-started" href="mailto:demenagement@master-lift.com">demenagement@master-lift.com</a>
        <a class="btn-projects" href="tel:+155895548855">+32 485 712 752</a>
      </div>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src={% static "img/about-img.jpg" %} alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Pourquoi nous choisir pour votre déménagement ?</h2>
            <p>
              Nous offrons un équipement professionnel qui vous permettra de transporter vos biens en hauteur sans effort et en toute sécurité. Notre équipe expérimentée s'occupera de la livraison, de l'installation et de la mise en service du lift pour vous garantir une utilisation optimale de notre équipement.
            </p>

            <ul>
              <li><i class="bi bi-check-circle"></i> Vous êtes dans le besoin de location de lift ? Contactez nous maintant.</li>
              <li><i class="bi bi-check-circle"></i> Pour les communes et régions qui suive uniquement sur devis ou par téléphone.</li>
              <li><i class="bi bi-check-circle"></i> Pour les communes et régions qui suive uniquement sur devis ou par téléphone.</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Service location lift élévateur {{ commune_actif.lib_comm }} {{ city_actif.lib_city }}</h2>
          <p>Depuis plus de 20 ans, notre entreprise se spécialise dans la location d'élévateurs <a href="https://www.lift-charleroi.be/">(lifts de déménagement)</a> avec opérateur pour les particuliers, les entreprises et les institutions de Bruxelles et du Brabant Wallon.

            <br><br> Nous fournissons des élévateurs pour des durées allant d'une heure ou plus, permettant de monter et/ou descendre divers mobiliers et matériaux, du premier au vingt-deuxième étage, jusqu'à une charge maximale de +/- 300 kg. Lorsque les escaliers sont trop raides ou que les portes intérieures sont trop étroites, il est préférable de faire appel à des professionnels, et nos élévateurs rendent tout cela possible.
            
            <br><br>Nous disposons de plusieurs types de véhicules, notamment des camions élévateurs pouvant monter jusqu'au vingt-deuxième étage et des élévateurs standards jusqu'au dixième étage.
            
            <br><br>Pour les accès difficiles, nous utilisons des élévateurs tractables et/ou électriques (Geda). Faites confiance à notre expertise pour faciliter vos déménagements en toute sécurité.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-briefcase"></i></div>
              <h4 class="title"><a href="">Location pas cher</a></h4>
              <p class="description">Nous proposons des tarifs compétitifs pour tous nos services de location de lift avec opérateur, afin que vous puissiez bénéficier d'une location à un prix abordable.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="">Satisfaction client</a></h4>
              <p class="description">Chez nous, l'efficacité de l'expérience client est notre priorité absolue. Nous sommes conscients que le transport de vos biens en hauteur peut être stressant et nous voulons faire en sorte que cette étape soit aussi facile et agréable que possible.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <div class="icon"><i class="bi bi-bar-chart"></i></div>
              <h4 class="title"><a href="">Assistance 7J/7 et H24</a></h4>
              <p class="description">Nous sommes à votre disposition 7j/7 pour répondre à toutes vos demandes et pour vous aider à organiser votre <a href="https://www.lift-charleroi.be/">déménagement</a> en toute sérénité. Nous mettons à votre disposition des élévateurs adaptés à tous les types de bâtiments et d'appartements, des camions de déménagement et des fourgons pour assurer un transport sécurisé de vos biens.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">Meilleure expérience</a></h4>
              <p class="description">Nous sommes convaincus que notre expérience et notre professionnalisme sont les garants de votre satisfaction. Nous sommes à l'écoute de vos besoins et de vos attentes pour vous offrir des prestations de qualité au prix le plus juste.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Location de lift Élévateur {{ commune_actif.lib_comm }} {{ city_actif.lib_city }}</h2>
          <p>Lift pas cher est l'expert de confiance pour tous vos besoins en monte-charge et lift élévateur monte-meubles depuis plus de 20 ans. Nous fournissons des services complets pour les professionnels, les particuliers, les entreprises et les institutions, et avons une solide expérience avec une variété de clients, y compris des magasins, des cuisinistes, des vendeurs de mobiliers et des professionnels en bâtiment.

            <br><br> Nous sommes déterminés à rendre votre déménagement rapide, sûr et efficace, et ce, à un prix abordable. En plus de déménager vos biens précieux, nous pouvons également assurer leur transport. Nous offrons également la location de camionnettes ou de camions (permis de conduire B) pour vos besoins de transport supplémentaires. Chez Lift pas cher, nous sommes là pour vous aider à louer le lift élévateur monte-meuble adapté à vos besoins. Nous sommes là pour vous conseiller et pour vous aider à planifier votre déménagement dans les moindres détails, y compris la réservation d'un emplacement de stationnement devant votre adresse de déménagement.
            
            <br><br> Nous savons que le temps est précieux lors d'un déménagement, c'est pourquoi nous sommes toujours là pour vous aider à optimiser votre temps et pour vous assurer que votre déménagement se déroule en toute sécurité et efficacement. Chez Lift pas cher, nous sommes fiers de notre expertise et de notre service à la clientèle exceptionnel, et nous sommes prêts à vous aider à chaque étape de votre projet de déménagement.</p>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Nos zones d'interventions</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              
              {% for commune in communes %}
              <a href='/{{ commune.id }}'><li data-filter="*" class="filter-active">{{ commune.lib_comm }}</li></a>
              {% endfor %}
              
            </ul>
          </div>
        </div>

      </div>
    </section>
    
    <!-- End Portfolio Section -->

    {% if cities %}
    
    <!-- ======= Villes ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Nos villes d'interventions dans {{ commune_actif.lib_comm }}</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              
              {% for city in cities %}
              <a href='/{{ city.lib_city }}'><li data-filter="*" class="filter-active">{{ city.lib_city }}</li></a>
              {% endfor %}
              
            </ul>
          </div>
        </div>

      </div>
    </section>
    
    <!-- Fin villes -->

    {% endif %}


    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src={% static "img/about-img.jpg" %} alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Nous organisons votre déménagement</h2>
            <p>
              Vous êtes à la recherche d'un service de location de lift élévateur monte-meubles pas cher pour faciliter votre déménagement ? Lift pas cher est votre partenaire idéal. Nous proposons des solutions de qualité pour toutes vos demandes, que vous soyez un particulier, une entreprise, une institution ou un professionnel de l'immobilier.

            <br><br>Nous disposons d'une large gamme d'élévateurs monte-meubles pour répondre à tous vos besoins. Nous proposons des services de location d'élévateurs avec opérateur pour une utilisation efficace et en toute sécurité. Nos opérateurs sont expérimentés et formés pour assurer une utilisation optimale de nos équipements.
            </p>

          </div>
        </div>

      </div>
    </section><br><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Ils nous font confiance</h2>
          <p>

          </p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src={% static "img/quote-sign-left.png" %} class="quote-sign-left" alt="">
                  Très satisfait du travail effectué. Vos hommes sont à l’écoute et nous ont donné de très précieux conseils. Travaille simple, rapide, efficace
                  <img src={% static "img/quote-sign-right.png" %} class="quote-sign-right" alt="">
                </p>
                <img src={% static "img/testimonial-1.jpg" %} class="testimonial-img" alt="">
                <h3>Sébastien</h3>
                <h4>Cliente </h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src={% static "img/quote-sign-left.png" %} class="quote-sign-left" alt="">
                  Je conseille cette entreprise de déménagement à tout le monde. Ils font du super travaille, effectué avec le sourire et dans les temps.
                  <img src={% static "img/quote-sign-right.png" %} class="quote-sign-right" alt="">
                </p>
                <img src={% static "img/testimonial-2.jpg" %} class="testimonial-img" alt="">
                <h3>Sébastien</h3>
                <h4>Client</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src={% static "img/quote-sign-left.png" %} class="quote-sign-left" alt="">
                  Merci pour votre service, mon déménagement sait dérouler à merveille. Je trouve que vous-avez une équipe formidable, très professionnelles.
                  <img src={% static "img/quote-sign-right.png" %} class="quote-sign-right" alt="">
                </p>
                <img src={% static "img/testimonial-3.jpg" %} class="testimonial-img" alt="">
                <h3>Valerie</h3>
                <h4>Client</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Réserver votre location de lift pour {{ commune_actif.lib_comm }} {{ city_actif.lib_city }} maintenant</h3>
            <p class="cta-text"> Nous sommes à votre disposition 7j/7 pour répondre à toutes vos demandes et pour vous aider à organiser votre déménagement en toute sérénité.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">APPELEZ-NOUS</a>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Mots clés</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              
              {% for keyword in keywords %}
              <a href='/{{ commune.id }}'><li data-filter="*" class="filter-active">{{ keyword.keywords }}</li></a>
              {% endfor %}
              
            </ul>
          </div>
        </div>

      </div>
    </section>
    
    <!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Nous contacter</h2>
          <p>Nous sommes à votre disposition 7j/7 pour répondre à toutes vos demandes et pour vous aider à organiser votre déménagement en toute sérénité.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Adresse</h3>
              <address>16 Kievitenlaan 1702 Dilbeek, Belgique</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Numéro de téléphone</h3>
              <p><a href="tel:+155895548855">+32 485 712 752</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:demenagement@master-lift.com">demenagement@master-lift.com</a></p>
            </div>
          </div>

        </div>
      </div>

      <div class="container mb-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="container">
        <div class="form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" required>
              </div>
              <div class="form-group col-md-6 mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Objet" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>

            <div class="my-3">
              <div class="loading">Chargement</div>
              <div class="error-message"></div>
              <div class="sent-message">Votre message a été bien envoyé ! Merci</div>
            </div>

            <div class="text-center"><button type="submit">ENVOYER</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



</body>
{% endblock content %}